.error{
    font-size:12px;
    color: #D8000C;
    display: block;
    padding-bottom: 10px;
    margin-left:2px;
    font-weight: bold;
}

.form-group label {
    color:green;
    font-weight: bold;
    font-size:11px;
}

.hidden {
    display:none;
}
.show {
    visibility: visible;
}

.success {
    color:green;
    font-size:12px;
    font-weight:bold;
}
 .no-border {
    border-radius:0;
 }
 .info-subheading {
    font-size:11px; font-weight:bold; text-decoration:underline
 }
 .defined-title {
    text-transform:uppercase; font-size:22px; font-weight:bold;  text-shadow:1px 1px 1px #f00
 }
.info {
    font-size:11px; font-weight:bold; text-shadow:1px 1px 1px #000;
}
.pointer{
    cursor: pointer;
}

.hover {
    position: relative;
    z-index: 100000;
}

.order-table {
    background: #eaf5ea;
    border-color: #bfe2c0;
    
}

.hover:hover {
    background-color:#ccc;
    position:relative;
    cursor:pointer;
}
.exception {
    padding:10px; font-family:tahoma; background:#bfe2c0; list-style-type:none; display:inline-table; cursor: pointer;
}
.exception-default{
    font-weight:bold;
    background:#eee;
}

.table-condensed td {
    padding:10px;
}

.tabs{
    padding:5px; font-family:tahoma; background:#bfe2c0; list-style-type:none; display:inline-table; cursor: pointer; margin:2px; font-size:11px;
}

.tabs-default{
    font-weight:bold;
    background:#eee;
}
.dashboardCard {
    background:#fff; font-size:10px; font-weight:bold
}
.dashboardCard__mt15 {
    background:#fff; font-size:10px; font-weight:bold; margin-top:15px;
}
.condensedChildTwo{
    background:#000; color:#fff
}
.dashboardMarker{
    margin-left:-10px; padding:10px; padding-top:2px;
}
#target{
    margin-left:-10px; padding:10px; float:right; margin-top:-45px; margin-right:-5px;
}
.dashboardHeading{
    font-size:27px; padding-top:3px;
}
.dashboardHeadingRequest{
    font-size:70px; color:#000; text-shadow:1px 2px 2px #fff
}
#dashboardRequestBreakDown{
    border-top:2px solid #fefefe; font-size:10px; font-weight:bold; margin-top:15px; background:#fff
}

.mt-30-negative{
    margin-top:-30px;
}
.mt-15-negative{
    margin-top:-15px;
}

.mt-5-negative{
    margin-top:-5px;
}

.pagination{
    font-size:8px
}

.dashboardbox{
    height:100%; background:#fff; padding:10px; border-radius:5px; margin:3px; box-shadow:2px 2px 1px #ccc; font-family:'Roboto'
}

.dashboardbox .icon {
    font-size:22px; margin-left:-15px
}

#target-label{
    font-size:10px; font-weight:600
}
 .dashboard-select{
    padding:5px; font-size:10px; border:1px solid #ccc; width:90px; border-radius:10px; margin-top:10px;
 }

 #visualize{
    background:#eee; padding:5px; font-size:10px;
 }

 .dashboardbox > input{
    padding:5px; font-size:10px; border:1px solid #ccc; width:120px; border-radius:10px;
 }

 #trip-label{
    font-size:12px; text-align:center
 }

 #target-value{
    font-size:18px; margin-top:20px; display:inline-block;
 }
 #target-percentage{
    float:right;
 }
 #target-percentage__value{
    text-align:right; top:20px;
 }



